/iD.Automation/main_project/BaseWrappers/__pycache__/*.pyc
/iD.Automation/main_project/Library/*.log
/iD.Automation/main_project/OR/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/common/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/android/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/blackberry/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/chrome/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/common/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/common/actions/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/common/html5/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/edge/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/firefox/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/ie/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/opera/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/phantomjs/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/remote/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/safari/__pycache__/*.pyc
/iD.Automation/main_project/selenium-3.4.3/selenium/webdriver/support/__pycache__/*.pyc
